/****************** GLOBAL STYLING *****************/
@import "~react-image-gallery/styles/css/image-gallery.css";

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Raleway:wght@600&family=Roboto+Slab:wght@500&display=swap');

#root {
    height: 100vh;
}

* {
    box-sizing: border-box;
    font-size: 10px;
    padding: 0;
    margin: 0 auto;
}

body {
    font-family: 'Roboto Slab', sans-serif;
}

.container {
    padding: 0 1rem;
    width: 100%;
}
    
li,a {
    text-decoration: none;
    list-style: none;
}

.hide {
    display: none;
}


/********* NAVIGATION ***********/


nav {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #000;
}

.logo {
 height: 35px;
 width: 35px;
 margin: .5rem;
 display: none;
}

.nav-menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  }
  
.nav-button {
    position: absolute;
    right: 15px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    cursor: pointer;
    background-color: #000;
    color:#fff;
}

.nav-button:hover {
    color:#f0b45b;
}

.nav-button i {
    font-size: 2.2rem;
}

.nav-menu ul {
  display: flex;
  margin: 0;
}

.nav-menu li {
    margin: 0 1rem;
}

.nav-menu li a{
    color: #fff;
    font-size: 2rem;
    display: block;
    width: 100%;
}

.slide-in-right {
    animation: slide-in-right 0.4s ease-out;
    animation-fill-mode: both;
    display: none;
}

@media screen and (max-width: 768px) {
    .logo {
        display: block;
    }

    .nav-button {
        display: block;
    }

    .nav-menu ul {
      position: absolute;
      display: none;
      top: 60px;
      left: 0;
      flex-direction: column;
      width: 100%;
      height: calc(100vh - 77px);
      background-color: #000;
      z-index: 10;
    }
    .nav-menu li {
      text-align: center;
      margin: 0;
    }
    .nav-menu li a {
      color: #fff;  
      width: 100%;
      padding: 1.5rem 0;
    }
    .nav-menu ul{
        display: none;
    }
    .nav-menu.expanded ul {
        display: block;
        animation: slide-in-right 0.4s ease-out;
        animation-fill-mode: both;
      }
      
  }


@keyframes slide-in-right {
    from {
        transform: translateX(100%);
    }
    
    to {
        transform: translateX(0);
    }
}

@keyframes slide-close {
    from {
        transform: translateX(0);
    }
    
    to {
        transform: translateX(100%);
    }
}
/* ------------------------- */


/******************* MAIN & HERO *********************/

.main {
    /* min-height: 800px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap:5rem;
    color: #fff;
}

.headline {
    text-align: center;
    margin-top: 16rem;
}

main h1 { 
    color: #f0b45b;
    font-size: 3.5rem;
    font-weight: 600;
}

main h2 { 
    font-size: 2.8rem;
    font-weight: 600;
}

main p {
    font-size: 1.2rem;
    font-weight: 600; 
    margin-top: 1rem;
}

.bookBtn {
    height: 30px;
    width: 125px;
    background: #f0b45b;
    border: none;
}

.bookBtn a {
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
}

.bookNow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0;
    font-size: 1rem;
    line-height: 1.75;
    background:  linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      );
    width: 175px;
}

.bookNow button {
    height: 35px;
    width: 100px;
}

.bookNow button a {
    color: black;
}

/******* ABOUT COMPANY SECTION *********/

.dashContainer{
    text-align: center;
    margin-top: 8rem;
}

.dashContainer h2 {
    color:#f0b45b;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.dash {
    width: 2px;
    height: 3rem;
    background-color: #f0b45b;
    display: inline-block;
  }

.about-section{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about-section h2 {
    font-size: 2rem;
    text-align: center;
    font-style: italic;
    color: #3e4247;
}

.cuttingHair {
     margin-top:4rem;
     height: 200;
     width: 340px;
}

.about-section p {
    font-size: 1.3rem;
    margin-top: 2rem;
    padding: 0 1rem;
    text-align: center;
    line-height: 1.4;
}

/********* SERVICES SECTION ***********/

.services-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding: 1rem;
    row-gap: 2.5rem;
}

.services-section h2 {
    font-size: 2rem;
    text-align: center;
    font-style: italic;
    color: #3e4247;
}

.service {
    background-color: #faf0dd;
    height: 10rem;
    width: 34rem;
} 

.scheduleBtn {
    margin-top: 1rem;
    height: 30px;
    width: 125px;
    background: #0e121a;
    border: none;
}

.scheduleBtn a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.dashContainer2{
    text-align: center;
}

.dashContainer2 h2 {
        color:#f0b45b;
        font-size: 1.2rem;
        margin-top: 1rem;
        position: relative;
        top: 10rem;
}

.dash2 {
    width: 2px;
    height: 3rem;
    background-color: #f0b45b;
    display: inline-block;
    margin:auto;
    position: relative;
    top:10.5rem;
}


/************ MEET THE TEAM SECTION **********/
.team-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 6rem;
  background: #0e121a;
  justify-content: center;
  color: #000;
}

.team-section h2 {
    margin-top: 5rem;
    margin-bottom: 8rem;
    font-size: 2rem;
    text-align: center;
    color:#fff;
    font-style: italic;
}

.team-section > *:last-child{
    margin-bottom: 8rem;
}

.employee {
    width: 30rem;
    text-align: center;
    margin-bottom: 3rem;   
}

.employee img {
    position: relative;
    height: 28rem;
    width: 22rem;
    z-index: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.employee h3 {
    padding-top:2rem;
    color:#000;
    font-size: 1.4rem;   
}

.employee p {
    padding: 2px 1.2rem;
    color: #3e4247;
}

.details {
    height: 12rem;
    width: 27rem;
    background-color: #faf0dd;
    bottom: 1.5rem;
    position: relative;
    z-index: 0;
  
}

/******** CONTACT SECTION ***********/

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 8rem;
    padding: 1rem;
}

.contact-section h2 {
    font-size: 2.4rem;
    color:#0e121a;
}

.contact-info {
    margin-top: 3rem;
    line-height: 2;
}

.contact-info p {
    font-size: 1.2rem;
}

.contact-info i {
    color:#f0b45b;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.appntBtn {
    margin-top: 4rem;
    margin-bottom: 8rem;
    height: 30px;
    width: 150px;
    background: #0e121a;
    border: none;
    color: #fff;
}

/* .appntBtn a {
    color: #fff;
} */

/********* FOOTER ****************/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* height: 250px; */
    background: #0e121a;
    color: #fff;
    padding: 2rem;
}

.footer ul {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.footer a {
    color: #fff;
}

.footer p {
    text-align: center;
    font-size: 1rem;
}

/******** ACCOUNT/SCHEDULE APPT PAGE *********/

.form-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.form-container h2 {
    font-size: 2rem;
    text-align: center;
    color:#f0b45b;
}

form {
   height: 34rem;
   width: 30rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   background-color: #fff;
   flex-direction: column;
   justify-content: center;
}

form h3 {
    color:#0e121a;
    font-size: 1.6rem;
    margin-bottom: 4rem;
}

form input {
    background-color: #faf0dd;
    border: none;
    height: 2.4rem;
    width: 70%;
    padding: .5rem;
}

/********** GALLERY PAGE ************/

.imgPage-container {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: start;
    padding: 2rem;
}

.imgPage-container h1 {
    font-size: 3rem;
    margin: 5rem 0 5rem;
    text-align: center;
}

.imgPage-container img {
    border-radius: 10px;
}

.img-container {
    background-color: #0e121a;
    width:100%;
    padding: 2rem;
}

.image-gallery-slide-wrapper {
    padding: 1rem;
}

.image-gallery-thumbnails-wrapper {
    height:100px;
}

.image-gallery-svg:hover {
    color: #f0b45b;
}

.image-gallery-icon:hover {
    color: #f0b45b;
}






